@import url("https://fonts.googleapis.com/css?family=Nunito|Pacifico&display=swap");

body {
  background-color: #b7a99a;
  display: flex;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  color: #ffffff;
  width: 450px;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Pacifico", serif;
  font-size: 3.2rem;
}
h3 {
  color: #f0f0f0;
}

p {
  color: #f5f5f5;
}
