@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Pacifico&display=swap");
body {
  background-color: #b7a99a;
  display: flex;
  justify-content: center;
}

.App {
  font-family: "Lato", sans-serif;
  width: 450px;
  color: #f7f7f7;
}

h1 {
  color: #ffc72c;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 12px;
}

hr {
  width: 230px;
  margin: 0;
  border: 1px solid #f99fc9;
}

.conversion {
  font-size: 1.8rem;
  margin-top: 20px;
  display: flex;
}

input {
  font-size: 1.8rem;
  width: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f7f7f7;
  margin-right: 25px;
}

.conversion__label {
  width: 62px;
  font-weight: 700;
}

.pink {
  color: #e24585;
}

.yellow {
  color: #ffc72c;
}
